<!-- main.handlebars -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf8">
    <title>Reddit Clone</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
<body>
    <ul>
        <li><a href="">Subreddits</a></li>
        <li><a href="">Sort/Filters</a></li>
        {{#if currentUser}}
            <li><a href="/logout">Logout</a></li>
        {{else}}
            <li><a href="/login">Login</a></li>
            <li><a href="/sign-up">Sign Up</a></li>
        {{/if}}
    </ul>

    {{{body}}}

</body>
</html>
