<!-- login.handlebars -->

<h1>Sign In</h1>

<form method="POST" action="/login">

    <!-- USERNAME -->
    <div class="form-group">
        <label for="post-title">Username:</label>
        <input class="form-control" type="text" name="username" placeholder="Username" />
    </div>

    <!-- PASSWORD -->
    <div class="form-group">
        <label for="post-subreddit">Password:</label>
        <input class="form-control" type="password" name="password" placeholder="Password" />
    </div>

    <!-- BUTTON -->
    <button type="submit">Sign In</button>
    <a href="/">Cancel</a>

</form>
