extends layout
block body
    .row
        .col-sm-4.col-sm-offset-4
            form(method="POST" action='/posts')
                legend New Post
                .form-group
                    label(for='post-title') Title
                    input#post-title.form-control(type='text', name='title', placeholder='Title')
                .form-group
                    label(for='post-summary') Summary
                    textarea#post-summary.form-control(name='summary', placeholder='Title')
                .form-group
                    label(for='post-subreddit') Subreddit
                    input#post-subreddit.form-control(name='subreddit', placeholder='Subreddit')
                .text-right
                    button.btn.btn-primary(type='submit') Submit Post
